.mainBar{
    height: 3.4rem;
    background-color:#4d7496;
    color: white;
}

.time{
    margin-top: 1rem;
}

.smsHeading{
    margin-left: 3rem;
    margin-top:0.5rem;
}
.dropdownBalance{
    margin-left: 3rem;    
}

.navelemets{
    position: absolute;
    display: flex;
    z-index: 1;
}
.navelemets::after,
.navelemets::before{
    content: '';
    width: 0;
    position: absolute;
    z-index: 1;
}
/* .runtingText{
    display: flex;
    overflow: hidden;
    margin-top: 0.5rem;
    white-space:nowrap;
    position: relative;
    transform: translateX(100%);
    animation: scroll 25s linear infinite;
} */
.runtingText{
    margin-left: 40rem;
    margin-top: 1rem;
}


 /* @keyframes scroll{
    0%{
        transform: translateX(170%);
    }
    100%{
        transform: translateX(-80%);
    }
}  */

.supportIcon{
    margin-left:35rem;
    margin-top: 1rem;
}
.emailIcon{
    margin-left:2rem;
    margin-top:1rem;
}
.dropdown-toggle::after {
    display:none;
}

.personlogo{
    margin-left:2rem;
    margin-top: 1rem;
}