.mainBar {
  height: 8vh;
  background-color: #4d7496;
  color: white;
}

.time {
  font-size: 14px;
}

.smsHeading {
  font-size: 18px;
}
.smsHeading i {
  cursor: pointer;
}
.dropdownBalance {
  margin-left: 2rem;
  font-size: 14px;
}
.balanceitems {
  margin-left: 30rem;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-size: 14px;
}
.balanceitems a:hover {
  background-color: #4d7496;
  color: white;
}

.navelemets {
  position: absolute;
  display: flex;
  z-index: 1;
}
.navelemets::after,
.navelemets::before {
  content: "";
  width: 0;
  position: absolute;
  z-index: 1;
}

.runtingText {
  /* margin-left: 40rem; */
  margin-top: 1rem;
  font-size: 15px;
}

.dropdown-toggle::after {
  display: none;
}
.supportIcon {
  margin-left: 35rem;
  margin-top: 1rem;
  cursor: pointer;
  font-size: 14px;
}
@media only screen and (min-width: 768px) {

.supportIconItems {
  font-size: 14px;
  margin-top: 0.6rem;
  padding-right: 1.6rem;
}
.loginicon{
  margin-top: 0.5rem;
} 
}
.supportIconItems {
  font-size: 14px;
}
a{
  cursor: pointer;
}
.supportIconItems a:hover {
  background-color: #4d7496;
  color: white;
}
.emailIcon {
  cursor: pointer;
  font-size: 14px;
  margin-top: 0.1rem;
}
.emailIconitems {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-size: 14px;
}

.emailIconitems a:hover {
  background-color: #4d7496;
  color: white;
}
.personlogo {
  font-size: 20px;
}

/* .msgCountBadge{
    position: absolute;
    margin-left: 0.5rem;
} */
.msgCountBadge span {
  position: absolute;
  margin-top: -0.6rem;
  padding: 0;
  height: 0.8rem;
  margin-left: 0.5rem;
  width: 1.2rem;
}
.dropdown-menu-custom {
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
}