<nav class="navbar navbar-expand-lg navbar-dark mainBar">
  <div class="d-flex justify-content-between w-100">
    <div class="d-flex">
      <div class="smsHeading d-flex">
        <a class="navbar-brand mx-md-2 mt-md-3 ps-3">SMS123</a
        ><i
          class="bi bi-list fa-lg mx-md-5 pt-2 pt-md-4"
          (click)="toggelNav()"
        ></i>
      </div>

      <div class="time pt-md-4 d-none d-md-block">
        <p>Date Time: {{ CurrentDate | date : "M/d/yyyy-h:mm:ss a" }}</p>
      </div>

      <div class="dropdownBalance" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto pt-1 pt-md-3">
          <li class="nav-item">
            <a
              class="nav-link text-white"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Balance
            </a>
            <div
              class="dropdown-menu balanceitems"
              aria-labelledby="navbarDropdown"
            >
              <a class="dropdown-item">SMS:{{ count }}</a>
              <a class="dropdown-item">MySMS: 0</a>
              <a class="dropdown-item">Notification: 0</a>
              <a class="dropdown-item">Whatsapp: 0</a>
              <a class="dropdown-item">VoiceCall: 0</a>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="d-flex w-50 justify-content-between">
      <div class="d-none d-md-block">
        <p class="pt-md-4">
          <marquee style="color: #94ee08; font-size: 15px; font-weight: bold"
            >View DLT Approved Sender ID List in Support Section 🡺
          </marquee>
        </p>
      </div>

      <div class="d-flex pt-md-2">
        <div
          class="ps-4 pt-3 pt-md-2 pe-md-4 pe-2 row justify-content-between supportIconItems"
        >
          <div class="dropdown">
            <div ngbDropdown class="d-inline-block">
              <span
                id="dropdown1"
                class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                ngbDropdownToggle
              >
                <a><i class="bi bi-exclamation-triangle-fill fa-lg"></i></a>
              </span>
              <div ngbDropdownMenu aria-labelledby="dropdown1" class="dropdown-menu-custom">
                <!-- items as buttons -->
                <a
                  class="dropdown-item"
                  style="background-color: navy; color: white"
                  >Support Informaton</a
                >
                <li>
                  <a class="dropdown-item"
                    ><i class="bi bi-telephone-fill"></i> +91 8600999599</a
                  >
                </li>
                <li>
                  <a class="dropdown-item"
                    ><i class="bi bi-envelope-fill"></i>
                    support@nuevastech.com</a
                  >
                </li>
                <li>
                  <a class="dropdown-item"
                    ><i class="bi bi-door-open-fill"></i> KYC Registration</a
                  >
                </li>
                <li>
                  <a class="dropdown-item"
                    ><i class="bi bi-card-list"></i> DLT Approved SenderID
                    List</a
                  >
                </li>
              </div>
            </div>
          </div>
        </div>

        <div class="emailIcon justify-content-between pe-md-3 ps-2 pt-3">
          <div ngbDropdown class="d-inline-block">
            <a
              href="javascript:;"
                class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
              id="dropdownBasic1"
              ngbDropdownToggle
            >
              <!-- <img src="../../../../assets/Photo.jpg" alt="hugenerd" width="30" height="30" class="rounded-circle"> -->
              <span class="d-sm-inline">
                <span class="msgCountBadge">
                  <span class="badge badge-danger">0</span>
                </span>
                <i class="bi bi-envelope-exclamation-fill fa-lg"></i>
              </span>
            </a>
            <div
              ngbDropdownMenu
              class="dropdown-menu dropdown-menu-custom"
              aria-labelledby="dropdownBasic1 "
            >
              <li>
                <a
                  class="dropdown-item"
                  style="background-color: navy; color: white"
                  >You have 0 new notifications</a
                >
              </li>
              <li>
                <a class="dropdown-item"
                  ><i class="bi bi-envelope-fill fa-lg"></i> From Admin</a
                >
              </li>
              <li>
                <a class="dropdown-item" style="background-color: lightgray"
                  >View all notifications</a
                >
              </li>
            </div>
          </div>
        </div>

        <div class="dropdown pe-md-5 ps-3 loginicon">
          <div ngbDropdown class="d-inline-block">
            <a
              href="javascript:;"
              class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
              id="dropdownBasic1"
              ngbDropdownToggle
            >
              <!-- <img src="../../../../assets/Photo.jpg" alt="hugenerd" width="30" height="30" class="rounded-circle"> -->
              <span class="d-sm-inline">
                <i class="bi bi-person-fill personlogo"></i> Rohit</span
              >
            </a>
            <div
              ngbDropdownMenu
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="dropdownBasic1 "
            >
              <li>
                <a class="dropdown-item"
                  ><i class="bi bi-person-fill"></i> My Profile</a
                >
              </li>
              <li><a class="dropdown-item"><i class="fa fa-key" aria-hidden="true"></i> Change Password</a></li>
              <li><a class="dropdown-item"><i class="bi bi-bank2"></i> Bank Details</a></li>
              <li><a class="dropdown-item" routerLink=""><i class="fa fa-sign-out" aria-hidden="true"></i> Log out</a></li>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
