@media only screen and (min-width: 768px) {
    .check1{
        font-size: 14px;
        margin-left: 13rem;
        }
        .badge1 span{
            padding: 0.4rem;
        } 
        .badge2 span{
            padding: 0.4rem;
        }
        .badgeinvalidMob span{
            padding: 0.4rem;
        }
        .badge3 span{
            padding:0.4rem;    
        }
        .subTable{
            height: 10rem;
            margin-left:2vw;
            margin-right:2vw;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            font-size: 14px;
        }
        .subTable3{
            height: 10rem;
            margin-left:2vw;
            margin-right:2vw;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            font-size: 14px;
            }
                
            .insidecard{
                margin-right: -1rem;
                margin-left: -1rem;
                cursor: pointer;
            }  
            .insidecard2{
                margin-right: -1rem;
                margin-left: -1rem;
                height: 12rem;
                cursor: pointer;
            }  
            .subTable4{
                height: 10rem;
                margin-left:2vw;
                margin-right:2vw;
                box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            }
            .insidecard2 select{
                margin-left:5rem; 
            }
}

.alert1{
   
    /* width:73vw ; */
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    font-size: 14px;
}
.alert{
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
/* .container{
margin-left:1rem;
} */
.maxMain{
    width: 96vw;
}
.minMaim{
width: 83vw;
}






hr{
   margin-left:-2rem;
   margin-right: -2rem;
}
.check2{
    margin-left:8rem;
    margin-bottom: -3rem;
    margin-top:1rem;

}


/* .badge3 span{
    margin-left: 32rem;
    padding: 0.4rem;

} */
.btnConfirm{
    margin-left:30rem;
    font-size: 14px;

}
.btnTestSMS{
    margin-left: 1rem;
    font-size: 14px;

}
/* .row{
    margin-left: 2rem;
} */
.bigbox{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    font-size: 14px;
    /* left: 2vw; */

}



select{
    font-size: 14px;

}
.maxwidth2{
    height: 8rem;
}
.minwidth2{
    height: 2.3rem;
}



.maxwidth{
    height: 16rem;
}
.minwidth{
    height: 2.3rem;
}
.maxheigth{
    height: 17rem;
}
.minheigth{
    height: 2.6rem;
}
/* .card-header{
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);    

} */
.uploadFile{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.darkcolor{
    background-color: #343a40;
  }
  .darkcolor .insidecard{
    background-color: #343a40;
    color:white;
    border: 1px solid white;

  }
  .darkcolor .card-header{
    background-color: #343a40;
    color:white;

  }
  .darkcolor .chatboat {
    background-color: #343a40;
    color:white;
    border: 1px solid white;

  }
  .darkcolor .subTable3 {
    background-color: #343a40;
    color:white;
    border: 1px solid white;
    box-shadow: 0 3px 6px rgba(255, 255, 255, 0.16), 0 3px 6px rgba(255, 255, 255, 0.23);


  }
  .darkcolor .subTable{
    background-color: #343a40;
    color:white;
    border: 1px solid white;
    box-shadow: 0 3px 6px rgba(255, 255, 255, 0.16), 0 3px 6px rgba(255, 255, 255, 0.23);
  }
  .darkcolor .bigbox{
    background-color: #343a40;
    color:white;
    border: 1px solid white;
    box-shadow: 0 3px 6px rgba(255, 255, 255, 0.16), 0 3px 6px rgba(255, 255, 255, 0.23);


  }
  .darkcolor .subTable4{
    background-color: #343a40;
    color:white;
    border: 1px solid white;
    box-shadow: 0 3px 6px rgba(255, 255, 255, 0.16), 0 3px 6px rgba(255, 255, 255, 0.23);


  }
  .darkcolor .insidecard2{
    background-color: #343a40;
    color:white;
    border: 1px solid white;

  }

  .brightcolor{
    background-color:#F9F9F9;

  }
  .brightcolor .bigbox .card-header{
    background-color:#F9F9F9;
    margin-left: -0.8rem;
    margin-right: -1rem;


  }
  .brightcolor .card-heade{
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);    

  }