<div [ngClass]="showThim? 'darkcolor':'brightcolor'">
  <div class="col-md-12" [ngClass]="showMain? 'minMaim':'maxMain'">
    <form class="p-2" [formGroup]="smsForm">

      <div class="row">
        <div class="alert alert-primary alert1 w-md-100" role="alert">
          This is a primary alert—check it out!
        </div>
        <div class="card col-md-8 bigbox pe-3">
          <div class="card-header fw-bold">
            <i class="bi bi-list"></i> Send SMS
          </div>
          <div class="card-body">
            <div class="d-flex">
              <label class="control-lable">Sender ID</label>
              <select class="form-select col-md-10 col-7 ms-4" formControlName="sender"
                [ngClass]="{'is-invalid':submitted && smsForm.get('sender')?.errors}"
                aria-label="Default select example">
                <option value="" selected>Open this select menu</option>
                <option *ngFor="let senderitem of senderArray">{{senderitem}}</option>
              </select>
            </div>
            <hr>
            <div class="d-flex ">
              <label class="control-lable">Template</label>
              <select class="form-select col-md-10 col-7 ms-4 mx-md-4" formControlName="templateid" (change)="changevalue($event)"
                [ngClass]="{'is-invalid':submitted && smsForm.get('templateid')?.errors}"
                aria-label="Default select example">
                <option value="" selected>Open this select menu</option>
                <option *ngFor="let templateitem of templateArray" [value]="templateitem.value">{{templateitem.key}}
                </option>

              </select>
            </div>
            <hr>

            <div class="d-flex">
              <label class="control-lable">Mobile No</label>
              <textarea class="form-control col-md-10 col-7 ms-4 mx-md-3"
                placeholder="You can send SMS in batches up to 50,000 at a time" ng-model="number" formControlName="mob"
                [ngClass]="{'is-invalid':submitted && smsForm.get('mob')?.errors}" id="exampleFormControlTextarea1"
                rows="3"></textarea>
            </div>
            <div class="d-md-flex d-block ps-md-5 pt-1">
              <div class="d-flex">
                <div class="badge1 ps-md-4 mx-n3 p-md-2">
                  <span class="badge badge-secondary">Mobile No Count:{{validMobCount}}</span>
                </div>
                <div class="badgeinvalidMob p-md-2 px-4 ">
                  <span class="badge badge-secondary">Invalid Mobile No Count:{{invalidMobCount}}</span>
                </div>
              </div>
              <div class="form-check mt-2 check1">
                <input class="form-check-input" type="checkbox" [checked]="checkBoxClr" (change)="checkBoxFun($event)"
                  value="" formControlName="clearChekBox" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">Clear list</label>
              </div>
            </div>
            <hr>
            <div class="alert alert-primary col-md-12" role="alert">
              One variable = 30 characters only. Enter the number of characters accordingly.
            </div>
            <div class="form-check mx-5">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label for="ContentPlaceHolder1_chkUnicode" style="font-weight: bold;">Unicode (Hindi, Marathi
                SMS)</label>
            </div>
            <div class="d-flex">

              <label class="control-lable">Message</label>
              <textarea class="form-control col-md-10 col-8 ms-4" formControlName="msg"
                [ngClass]="{'is-invalid':submitted && smsForm.get('msg')?.errors}" id="exampleFormControlTextarea1"
                rows="3"></textarea>
            </div>
            <div class="d-flex ps-md-5">
              <div class="badge2 ps-md-3 mt-2 ps-4">
                <span class="badge badge-secondary">Count:{{textlength}} Text:{{limit}}</span>
              </div>

              <div class="badge3 mt-md-2 mx-2 mt-2">
                <span class="badge badge-primary">Total Cradit Charge:{{creditcount}}</span>
              </div>
            </div>
          </div>
          <div class="card-footer" style="margin-right: -2%; margin-left:-2%;">
            <div class="d-flex">
              <div class="form-check d-flex">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label for="ContentPlaceHolder1_chkUnicode" style="font-weight: bold;">Schedule</label>
              </div>
              <div class="col-md-10 text-right">
                <button type="submit" (click)="onsubmit()" class="btn btn-primary">Confirm</button>
              </div>
            </div>
            <hr style="margin-right: -2%; margin-left:-2%;">
            <div class="d-flex">
              <label class="control-lable">Test SMS</label>
              <textarea class="form-control col-md-8 mx-4" placeholder="Enter the mobile number"
                id="exampleFormControlTextarea1" rows="2"></textarea>
              <div class="btnTestSMS">
                <button class="btn btn-warning">Test SMS</button>
              </div>
            </div>
          </div>
        </div>

        <div class="d-block col-md-4">
          <div class="card text-center mt-4 mt-md-0 subTable" [ngClass]="show? 'maxwidth': 'minwidth'">
            <div class="card-header d-flex fw-bold">

              <i class="bi bi-list px-md-2 ps-2"></i>
              <div class="ps-2 ps-md-0">Select Option</div>
              <div class="ps-5 ms-3 ps-md-5 ms-md-5" (click)="showOption()"><a><i class="bi bi-box-arrow-down"></i></a></div>
            </div>
            <div class="card-body col-md-11 mt-1 mx-md-3">

              <div class="card text-center insidecard" *ngIf="show">
                <div class="card-header">
                  <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                      <a class="nav-link" [ngClass]="groupOptionShow? 'active':''" (click)="OngropOption()">Groups</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link d-flex" [ngClass]="fileoptionshow? 'active':''" (click)="openfileupload()">Choose File<div class="d-none d-md-block"> (.xls,txt,csv)</div>
                        </a>
                    </li>

                  </ul>
                </div>
                <div class="card-body">
                  <div *ngIf="groupOptionShow" class="form-check" style="margin-left:-6rem;">
                    <input class="form-check-input" [checked]="allselect" type="checkbox" (change)="onAllselect($event)"
                      value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Select All
                    </label>
                  </div>
                  <div *ngIf="groupOptionShow" class="form-check" style=" margin-left:-6.8rem;">
                    <input class="form-check-input" [checked]="allselect" type="checkbox" (change)="Onpoo($event)"
                      value="" id="flexCheckDefault" />
                    <label class="form-check-label" for="flexCheckDefault">
                      Pool(2)
                    </label>
                  </div>
                  <div *ngIf="groupOptionShow" class="form-check" style="margin-left:-7rem;">
                    <input class="form-check-input" [checked]="allselect" type="checkbox" (change)="test($event)"
                      value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      test(1)
                    </label>
                  </div>
                  <div class="uploadFile ps-md-4 pt-md-2 pb-md-3 pt-2 pb-3 mx-n3" *ngIf="fileoptionshow">
                    <input type="file" (change)="onFileSelected($event)">
                  </div>
                  <div *ngIf="fileoptionshow">
                    <button class="btn btn-warning" (click)="importContacts()">Import</button>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="card text-center mt-md-4 mt-4 subTable3" [ngClass]="show2? 'maxwidth2': 'minwidth2'">
            <div class="card-header d-flex fw-bold" (click)="showOption2()">

              <i class="bi bi-list px-md-2 px-2"></i>
              <div class="mx-md-1">Select Chatboat</div>
              <div class="ps-5 ps-md-5 ms-md-4" (click)="showOption"><a><i class="bi bi-box-arrow-down"></i></a></div>
            </div>
            <div class="card-body chatboat" *ngIf="show2">
              <select class="form-select" formControlName="sender" aria-label="Default select example">
                <option value="" selected>Open this select menu</option>

              </select>

            </div>

          </div>


          <div class="card text-center mt-md-4 mt-4 subTable4" [ngClass]="mediaShow? 'maxheigth': 'minheigth'">
            <div class="card-header d-flex fw-bold">

              <i class="bi bi-list px-md-2 px-2"></i>
              <div class="mx-md-1">Select Media</div>
              <div (click)="showOptionMedia()" class="ms-4 ps-md-5 ms-md-5 ps-5"><a><i class="bi bi-box-arrow-down"></i></a></div>
            </div>
            <div class="card-body mt-md-1 col-md-11 mx-md-3">

              <div class="card text-center insidecard2" *ngIf="mediaShow">
                <div class="card-header">
                  <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                      <a class="nav-link" [ngClass]="mediaImgShow? 'active':''" (click)="OnmediaImg()">img</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" [ngClass]="mdediaVideoshow? 'active':''" (click)="Onmeidavideo()"
                        type="file">Video</a>
                    </li>

                  </ul>
                </div>
                <div class="card-body">
                  <div *ngIf="mediaImgShow" class="form-check p-0">
                    <!-- <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> -->
                    <select class="form-select col-md-12" (change)="onOptionImageSelected($event)"
                      aria-label="Default select example">
                      <option value="" selected>Select Image</option>
                      <option value="image1.jpg">Image1</option>
                      <option value="image2.jpg">Image2</option>
                      <option value="img3.jpg">Image3</option>

                    </select>
                    <div class="mt-md-3 ms-md-3" *ngIf="Imageavalable">
                      <img [src]="selectedImage" width="120rem">
                    </div>
                  </div>

                  <div *ngIf="mdediaVideoshow" class="form-check p-0">
                      <!-- <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> -->
                      <select class="form-select col-md-12" (change)="onOptionVideoSelected($event)"
                        aria-label="Default select example">
                        <option value="" selected>Select Video</option>
                        <option value="movie.mp4">Video1</option>
                        <option value="movie2.mp4">Video2</option>
                        <option value="movie3.mp4">Video3</option>
                      </select>
                    <div class="mt-2" *ngIf="videoAvalable">
                      <video controls [src]="selectedVideo" width="150rem"></video>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </form>
  </div>
</div>