<div class="alert alert-primary mt-2" role="alert">
    This is a primary alert—check it out!
  </div>

  <form [formGroup]="smsForm" (ngSubmit)="onSubmit()">
      <div class="container mt-4 d-flex">
  <div class="card col-md-8">
    <div class="card-header" style="font-weight: bold; margin-right: -2%; margin-left:-2%;">
      <i class="bi bi-list mt-3"></i> Send SMS
    </div>
    <div class="card-body">
      <div class="d-flex">
      <label class="col-md-2 control-lable mt-1">Sender ID</label>
      <select class="form-select col-10" formControlName="sender" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1">NUEVAS</option>
        <option value="2">TRKZIA</option>
      </select>
    </div>
      <hr>
      <div class="d-flex ">
        <label class="col-md-2 control-lable">Template</label>
        <select class="form-select col-10" formControlName="templateid" aria-label="Default select example">
          <!-- <option selected>Open this select menu</option>
          <option value="1">Your My SMS verification Code id {{#var#} Do not share this code with others Team Nuevas</option>
          <option value="2">Dear User your OTP is {{#var#} Kindly use OTP to validate your Registration. Team Trackzia</option>
          <option value="3">Dear {{#var#} , Your Complaint with Complaint Id: {#var#} has Been Resolve Kindly Share OTP, The OTP is {#var#} \n From Nuevas</option> -->
        </select>
      </div>
      <hr>
      <div class="d-flex">
        <label class="col-md-2 control-lable">Mobile No</label>
        <textarea class="form-control col-10" formControlName="mob" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="form-check check1">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Clear list
        </label>
      </div>
      <div class="badge1">      
        <span class="badge badge-secondary">Mobile No Count:0</span>
      </div>
      <hr>
      <div class="alert alert-primary col-12" role="alert">
        One variable = 30 characters only. Enter the number of characters accordingly.                                    
      </div>
      <div class="form-check check2">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label for="ContentPlaceHolder1_chkUnicode" style="font-weight: bold;">Unicode (Hindi, Marathi SMS)</label>        
      </div>
      <div class="d-flex mt-5">
      
        <label class="col-md-2 control-lable">Message</label>
        <textarea class="form-control col-10" formControlName="msg" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="badge2">      
        <span class="badge badge-secondary">Count:0 Text:0</span>
      </div>
      <div class="badge3">      
        <span class="badge badge-primary">Total Cradit Charge:0</span>
      </div>
  </div>
  <div class="card-footer" style="margin-right: -2%; margin-left:-2%;">
    <div class="d-flex">
    <div class="form-check d-flex">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label for="ContentPlaceHolder1_chkUnicode" style="font-weight: bold;">Schedule</label>        
       </div>
       
    <div class="btnConfirm">
          <button class="btn btn-primary">Confirm</button>
     </div>
    </div>
  <hr style="margin-right: -2%; margin-left:-2%;">
  <div class="d-flex">      
    <label class="col-md-2 control-lable">Test SMS</label>
    <textarea class="form-control col-8" placeholder="Enter the mobile number" id="exampleFormControlTextarea1" rows="2"></textarea>
    <div class="btnTestSMS">
      <button (click)="onSubmit()" class="btn btn-warning">Test SMS</button>
    </div>
  </div>
  </div>
</div>


<div class="card text-center col-md-3 mx-3">
  <div class="card-header" style="font-weight: bold; margin-right: -2%; margin-left:-2%;">
 
    <i class="bi bi-list mt-3"></i> Select Option
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>

</div>
</form>



