.alert{
    width:50rem;
    height: 3.5rem;
    margin: auto;
}
.check1{
margin-left:37rem;}
.badge1{
    margin-top: -1.4rem;
    margin-left:7rem;
}
hr{
   margin-left:-2rem;
   margin-right: -2rem;
}
.check2{
    margin-left:8rem;
    margin-bottom: -3rem;
    margin-top:1rem;
}
.badge2{
    margin-left:7rem;
}
.badge3{
    margin-left: 34rem;
    margin-top: -1.5rem;
}
.btnConfirm{
    margin-left:30rem;
}
.btnTestSMS{
    margin-left: 1rem;
}
.container{
    margin-left:15rem;
}
