.alert1{
    width:65rem;
    height: 3.5rem;
    margin-left:16rem;

}
.alert{
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);}
.check1{
margin-left:37rem;}
.badge1{
    margin-top: -1.4rem;
    margin-left:7rem;
}
hr{
   margin-left:-2rem;
   margin-right: -2rem;
}
.check2{
    margin-left:8rem;
    margin-bottom: -3rem;
    margin-top:1rem;
}
.badge2{
    margin-left:7rem;
}
.badge3{
    margin-left: 32rem;
    margin-top: -1.5rem;
}
.btnConfirm{
    margin-left:30rem;
}
.btnTestSMS{
    margin-left: 1rem;
}
.container{
    margin-left:15rem;
}
.subTable{
    height: 16rem;
    margin-left: 2.4rem;
}
.subTable3{
margin-top: 18rem;
margin-left: -17.4rem;
height: 10rem;
}
.maxwidth2{
    height: 8rem;
}
.minwidth2{
    height: 2.6rem;
}
.insidecard{
    margin-right: -1rem;
    margin-left: -1rem;

}
.maxwidth{
    height: 16rem;
}
.minwidth{
    height: 2.6rem;
}
.card-header{
    /* background-color:     rgb(248,215,218); */
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);    

}

