<div class="h-100" [ngClass]="show? 'maxwidth': 'minwidth'" >
        <div class="px-sm-2 px-0 w-auto sideNav"  [ngClass]="thimShow ? 'darkcolor':'brightcolor text-dark'">
            <div class="d-flex flex-column align-items-center align-items-sm-start ps-1 pt-2">
                
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li>
                        <a routerLink="" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="bi bi-speedometer2 "></i><span *ngIf="show" class="ms-1 d-none d-sm-inline">DASHBOARD</span> </a>
                    </li>

                    <li class="nav-item">
                        <a routerLink="/dashboard" class="nav-link align-middle px-0">
                            <i class="bi bi-tv "></i> <span *ngIf="show" class="ms-1 d-none d-sm-inline">API</span>
                        </a>
                    </li>
                    <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="bi bi-chat-left-dots "></i><span *ngIf="show" class="ms-1 d-none d-sm-inline">SEND SMS</span> </a>
                        <ul class="collapse show nav flex-column ms-1" *ngIf="show" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="smssend" class="nav-link px-0"> <span  *ngIf="show" class="d-none   d-sm-inline">> Quick SMS</span></a>
                            </li>
                            <li>
                                <a class="nav-link px-0"> <span  *ngIf="show" class="d-none   d-sm-inline">> Advance SMS</span></a>
                            </li>
                            <li>
                                <a class="nav-link px-0"> <span  *ngIf="show" class="d-none   d-sm-inline">> Customize SMS</span></a>
                            </li>
                            <li>
                                <a class="nav-link px-0"> <span  *ngIf="show" class="d-none   d-sm-inline">> Opt-in SMS</span></a>
                            </li>

                        </ul>
                    </li>



                    <li>
                        <a class="nav-link px-0 align-middle">
                            <i class="bi bi-whatsapp "></i> <span *ngIf="show" class="ms-1 d-none d-sm-inline">WHATSAPP</span> </a>
                    </li>
                    <li>
                        <a class="nav-link px-0 align-middle">
                            <i class="bi bi-table "></i><span *ngIf="show" class="ms-1 d-none d-sm-inline">MANAGE ITEMS</span> </a>
                    </li>
                    <li>
                        <a class="nav-link px-0 align-middle" routerLink="report">
                            <i class="bi bi-bar-chart "></i> <span *ngIf="show" class="ms-1 d-none d-sm-inline">VIEW REPORTS</span> </a>
                    </li>
                    <li>
                        <a class="nav-link px-0 align-middle">
                            <i class="bi bi-gear-wide-connected "></i> <span *ngIf="show" class="ms-1 d-none d-sm-inline">SETTINGS</span> </a>
                    </li>
                </ul>


     

                <div class="thimdark mt-3" [class.d-flex]="show">
                    <div class="form-check ps-0" (click)="thimeChange(false)">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            <div><i class="bi bi-sun me-1"></i><span *ngIf="show">Bright</span> </div>
                        </label>
                      </div>
                      <div class="form-check ps-1" (click)="thimeChange(true)" >
                        <input class="form-check-input"  type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                          <div  ><i class="bi bi-moon fa-xs me-1"></i> <span *ngIf="show">Dark</span></div>  
                        </label>
                      </div>               
                  </div>

                <hr>
             
            </div>
        </div>
   

</div>
