.content-table{
    text-align: left;
    width: 82.8vw;
    overflow-x: scroll;
    border-radius: 10px;
    margin-top: 7px;
    margin-left: -0.4rem;
}

th{
    background-color: #009879;
    color: #dddddd;

}
.heading{
    margin-left: 25rem;     
}
.content-table th, 
.content-table td{
    padding: 12px 15px;
}